extends layout.pug
block Content
    .add-container
        h3 New note
        if error
            p.error Input cannot be empty please fill in the form...
        form.addForm(action="/create", method="post")
            input(type="text" name = "note")
            button Add new note